html {
    overflow: auto;
}

body{
    margin: 0px;
    background-color: #ECECEC;
    overflow-y: hidden; 
}

/* Global */
h2{
    color: #0B0C10;
    font-family: Baloo Chettan;
    text-align: center;
}

p{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

/* Header */
header{
    background-color: #5DA2D5;
    color: white;
    font-family: Baloo Chettan;
    text-align: center;
    width: 100%;
}

/* Slider */
#slider_nav{
    text-align: center;
} 

#slider_nav > a{
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
    border: 2px;
    border-style: solid;
    border-color: #1F2833;
    font-family: Quicksand;
} 

#tutorial_slider{
    text-align: center;
    background-color: white;
    border: 4px;
    border-style: solid;
    height: 80%;
    border-color: #1F2833;
    border-radius: 10px;
    font-family: Quicksand;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    height: 100%;
  }

#slide-1 {
    background-color: #F3D250;
}

#slide-2 {
    background-color: rgb(102, 187, 110);
}

#slide-3 {
    background-color: #90CCF4;
}

#slide-4 {
    background-color: #F78888;
}

#gameStart{
    background-color: blueviolet;
}

.tutorial_pic{
    width: 400px;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

button{
    background-color: #1F2833;
    border-radius: 10px;
    border-style: solid;
    border-color: #C5C6C7;
    color: #C5C6C7;
    font-family: Baloo Chettan;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

/* Media Queries */
@media(max-width: 833px){
    #tutorial_slider{
        width: 75%;
        margin-left: 12.5%;
        margin-right: 12.5%;
    }

    .tutorial_pic{
        width: 100%;
        max-width: 310px;
        height: auto;
    }
}

@media(max-width: 425px){
    .tutorial_pic{
        width: 100%;
        max-width: 220px;
        height: auto;
    }
}

@media(max-width: 320px){
    .tutorial_pic{
        width: 100%;
        max-width: 200px;
        height: auto;
    }
}

